<header class="header">
    <span class="Blog">Blog</span>
    <nav class="nav">
        <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="/blogs">News</a></li>
            <li><a href="/moocs">Mooc</a></li>
            <div id="admin" class="dropdown" style="margin-right: 14%">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin
                </a>
                <div class="admin dropdown-menu">
                    <li><a href="/admin/newsList" class="btn btn-default btn-flat ">News</a></li>
                    <li><a href="/admin/moocList" class="btn btn-default btn-flat ">Mooc</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <div class="end">
        <div class="user dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{user.username}}
            </a>
            <div class="dropdown-menu detail">
                <img class="user-img" src="{{user.userThumb}}" alt="User Image">
                <li><a href="/" class="btn btn-default btn-flat ">Log out</a></li>
                <li><a href="/detail" class="btn btn-default btn-flat ">About me</a></li>
            </div>
        </div>
        <div class="search-form">
            <form action="/search" method="GET"><input type="text" name="keyword" placeholder="Search.." class="form-control" /></form>
        </div>
    </div>
</header>