
<header class="header">
    <span class="Blog">Blog</span>
    <nav class="nav">
        <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="/blogs">News</a></li>
            <li><a href="/moocs">Mooc</a></li>
            <li id="admin"><a href="#">Admin</a>
                <div class="admin">
                    <a href="/admin/newsList" class="btn btn-default btn-flat ">News</a>
                    <a href="/admin/moocList" class="btn btn-default btn-flat ">Mooc</a>
                </div></li>

        </ul>
    </nav>
    <div class="end">
        <div class="user"><a href="#">Mia{{entries._id.username}}</a>
            <div class="detail">
                <img class="user-img uig" alt="User Image">
                <!--<img src="1.jpg" class="user-img">-->
                <a href="#" class="btn btn-default btn-flat ">Log out</a>
                <a href="#" class="btn btn-default btn-flat ">Setings</a>
            </div>
        </div>
        <form class="search-form">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
    </div>
</header>

<script>
    $(document).ready(function()
    {
        $(".admin").hide();
        $("#admin").hover(function(){
            $(".admin").show();
        });
        $("#admin").mouseleave(function(){
            $(".admin").hide();
        });
        $(".detail").hide();
        $(".user").hover(function(){
            $(".detail").show();
        });
        $(".user").mouseleave(function(){
            $(".detail").hide();
        });
    });
</script>