<div class="col-md-2 col-xs-2 col-1">
    <div>
        <input type="text" name="q" class="form-control search" placeholder="Search...">
    </div>
    <ul class="sidebar-menu">
        <li class="menu"><a href="#">Menu</a></li>
        <li class="project"><a href="/blogs">News</a></li>
        <li class="project"><a href="#">Course</a></li>
        <li class="project"><a href="#">Paper</a></li>
        <li class="project"><a href="#">Research</a></li>
    </ul>
</div>
