<div class="col-md-2" >
    <div class="sidebar">
        <!--<input type="text" class="form-control searchBox"placeholder="Search..."/>-->
        <dropdown>
            <input id="toggle2" type="checkbox">
            <label for="toggle2" class="animate">Menu<i class="fa fa-bars float-right"></i></label>
            <ul class="animate">
                <li class="animate">Note<i class="fa fa-code float-right"></i></li>
                <li class="animate">Code<i class="fa fa-arrows-alt float-right"></i></li>
                <li class="animate">About me<i class="fa fa-cog float-right"></i></li>
            </ul>
        </dropdown>


    </div>
</div>