<div class="col-md-2 col-xs-2 col-1">
    <div>
        <input type="text" name="q" class="form-control search" placeholder="Search...">
    </div>
    <ul class="sidebar-menu">
        <li class="menu"><a href="#">Menu</a></li>
        <li class="project"><a href="/admin/news">新闻管理</a></li>
        <li class="project"><a href="#">慕课管理</a></li>
        <li class="project"><a href="#">项目管理</a></li>
        <li class="project"><a href="#">研究管理</a></li>
    </ul>
</div>
