<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <script src="/js/blog.js"></script>
    {{>head}}
</head>
<body>
    <div class="wrapper">
        {{{body}}}
    </div>
    {{>footer}}
</body>
</html>