<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body>
<div class="flex-wrapper">
    {{>header}}
<div class="Content">
    {{>self-introduce}}
    {{{body}}}
</div>
    </div>
</body>
</html>