<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!--<script src="/js/blog.js"></script>-->
    {{>head}}
</head>
<body>
<div class="wrapper">
    {{>header}}
    {{>sidebar}}
    {{{body}}}
</div>
{{>footer}}
</body>
</html>