<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{>head}}
      <link rel="stylesheet" href="/stylesheets/login.css">

  </head>
  <body class="login-body">
    {{{body}}}

    {{>footer}}
    <script src="blog/register.js"></script>
  </body>
</html>