<div class="col-md-2">
    <div class="sidebar">
        <input type="text" class="form-control searchBox"placeholder="Search..."/>
        <i class="fa fa-search fa-1x"></i>
        <div class="navigation">
            <a>学习笔记</a></div>
        <div class="navigation">
            <a>开设课程</a></div>
        <div class="navigation">
            <a>项目开发</a></div>
        <div class="navigation">
            <a>研究成果</a></div>
    </div>
</div>