<div class="waiting">
    <p>考试时间还没到，请耐心等待!</p>
</div>
<div class="message-control" >
    <div class="login-wrapper">
        <div class="login-panel">
            <div><label>姓名</label><input class="form-group " placeholder="{{user.username}}"></div>
            <div><label>学号</label><input class="form-group " placeholder="{{user.number}}"></div>
            <div><label>类型</label><input class="form-group " placeholder="学生"></div>
            <div><label>密码</label><input class="form-group " placeholder="{{user.password}}"></div>
            <button class="login" id="confirmBtn">确认</button>
        </div>
    </div>
</div>
<script src="test/exam.js"></script>