<div class="login-control" >
    <div class="login-wrapper">
        <div class="login-panel">
            <input type="text" class="form-group user" placeholder="用户名" id="usr">
            <input type="password" class="form-group user" placeholder="密码" id="pwd">
            <button class="login log" id="loginBtn">登录</button>
        </div>
    </div>
</div>
<div class="main">

</div>
<div class="admin"></div>
<script src="test/login.js"></script>