<div class="user-control" >
    <div class="login-wrapper">
        <div class="login-panel">
            <input type="text" class="form-group itm" placeholder="用户名" id="usr">
            <input type="text" class="form-group itm" placeholder="学号" id="number">
            <input type="text" class="form-group itm" placeholder="密码" id="pwd">
            <button class="" id="studentBtn">添加学生</button>
        </div>
    </div>
</div>
<div class="question-control" >
    <div class="login-wrapper">
        <div class="login-panel">
            <input type="text" class="form-group itm" placeholder="题号" id="num">
            <input type="text" class="form-group itm" placeholder="内容" id="content">
            <input type="text" class="form-group itm" placeholder="答案" id="answer">
            <input type="text" class="form-group itm" placeholder="分值" id="score">
            <button class="" id="questionBtn">添加题目</button>
        </div>
    </div>
</div>
<div class="admin"></div>
<script src="test/admin.js"></script>