<section class="content">
        <div class="questionList">
            <table class="table">
                <thead>
                    <tr>
                        <th>题号</th>
                        <th>内容</th>
                        <th>分值</th>
                        <th>功能</th>

                    </tr>
                </thead>
                <tbody id="question-table">
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="box-footer footer-btn">-->
            <!--<button type="submit" class="btn btn-primary pull-left" id="importBtn">导入学生数据</button>-->
            <!--<button type="submit" class="btn btn-primary" id="countBtn">统计成绩</button>-->
            <!--<button type="submit" class="btn btn-primary pull-right" id="exportBtn">导出EXCEL文件</button>-->
        <!--</div>-->
</section>
<script src="test/admin.js"></script>

