<section class="content">
        <div class="studentList">
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>分数</th>
                        <th>功能</th>
                    </tr>
                </thead>
                <tbody id="student-table">
                </tbody>
            </table>
        </div>
    <button class="btn btn-success" id="excel">导出Excel</button>
        <!--<div class="box-footer footer-btn">-->
            <!--<button type="submit" class="btn btn-primary pull-left" id="importBtn">导入学生数据</button>-->
            <!--<button type="submit" class="btn btn-primary" id="countBtn">统计成绩</button>-->
            <!--<button type="submit" class="btn btn-primary pull-right" id="exportBtn">导出EXCEL文件</button>-->
        <!--</div>-->
</section>
<script src="test/admin.js"></script>


