<section class="News">
<header class="title">
        About me
    </header>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <form id="defaultForm" action="">
                <div class="box-body pad">
                    <div class="form">
                        <label>username :</label>
                        {{user.username}}

                    </div>
                    <div class="form">
                        <label>userthumb</label>
                        <img class="user-img" src="{{user.userThumb}}" alt="User Image">
                    </div>
                    <div class="form">
                        <label>email</label>
                        {{user.email}}
                    </div>
                    <div class="form">
                        <label>address</label>
                        {{user.address}}
                    </div>

                </div>

            </form>
        </div>

        </form>
        <!-- /.col-->
        <!-- ./row -->
    </section>
</section>

