<div class="wrapper">
    <div class="container-fluid">
        {{>header}}
        <div class="row ">
            {{>sidebar}}
            <div class="col-md-10 col-2">
                <div class="col-md-10 col-xs-9 ">
                    <div class="content">
                        <div class="content-img"></div>
                    </div>
                </div>
            </div>

