
 <div class="col-md-10 col-xs-9 col-2">
      <div class="container-fluid">
                <!--<div class="col-md-12 col-xs-9 ">-->
                <div class="content">
                        <div class="content-img"></div>
                    <!--</div>-->
                </div>
      </div>
  </div>

