<div class="cover">
    <form  id="loginform" action="" class="flex-form">
        <p class="login-box-msg "></p>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="用户名" id="usr" required >
             <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="密码" id="pwd">
             <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
        </div>
        <div class="button">
            <button type="button" class="form-control" id="registerBtn"><a href="/register">注册</a></button>
            <button type="submit" class="form-control" id="loginBtn">登录</button>
        </div>
    </form>
</div>

<script src="blog/login.js"></script>
<script src="/blog/common.js"></script>