<div class="News">
    <section class="content">
        <div class="title">Setting</div>
        <form  class="flex-form" id="settingform" action="">
            <div class="form-group has-feedback">
                <label>name</label>
                <input type="text" class="form-control" placeholder="" id="" >
            </div>
            <div class="form-group has-feedback">
                <label>password</label>
                <input type="password" class="form-control" placeholder="" id="" >
            </div>
            <div class="form-group has-feedback">
            <label>email</label>
            <input type="email" class="form-control" placeholder="" id="">
            </div>
            <div class="form-group has-feedback">
                <div class="form-thumb">
                    <label>userThumb</label>
                    <img  class="img-thumbnail" id="" src="{{user.userThumb}}">
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class="box-footer">
                    <input type="file" id="uploadFile" multiple="multiple"  accept="image/*">
                    <a class="btn btn-primary"><i class="fa fa-camera fa-fw"></i> 选择文件</a>
                    <a class="btn btn-primary disabled" id="UploadBtn"><i class="fa fa-upload fa-fw"></i> 上传</a>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-primary pull-right" id="doSetting">更新</button>
            </div>
        </form>
    </section>
 </div>
