.menu{
  height: 55px;
  background: #1ABC9C;
}
.menu-1{
  float: left;
  font-size: 20px;
  margin: 10px 12px 0 40px;
  color: white;
}
.body{
  background: #ECF0F1;
}
.sidebar{
  background: #ECF0F1;
  height: 500px;
  margin-left: -20px;
}
.col-1{
  width: 200px;
}

.searchBox{
  margin:0px 0 0 0px;
  border-radius: 3px;
  width: 215px;
  padding:10px;
}
/*.navigation{*/
  /*margin-left: 20px;*/
  /*margin-bottom: 10px;*/
  /*margin-top: 20px;*/
  /*color: white;*/
/*}*/

/*.cont {*/
  /*background-color:#F8E7E0;*/
  /*margin-left: -55px;*/
  /*height: 500px;*/
  /*margin-right: -13px;*/
/*}*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
  font-size: .8em;
  line-height: 22px
}
dropdown{
  display: inline-block;
}
dropdown label, dropdown ul li{
  display: block;
  width: 213px;
  background: #ECF0F1;
  padding: 15px 20px;
  float: left;
}
dropdown label:hover, dropdown ul li:hover{
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}
dropdown label{
  margin: 0 12px 0 0;
  font-size: 15px;
  color: #1ABC9C;
  border-left: 1px solid #1ABC9C;
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: #1ABC9C;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
}
.col-2{
  width: auto;
  height: auto;
  background-color: #00a7d0;

}
.content{
  background-color: #00a7d0;

;
}
.content-img{
  float: left;
  width: 800px;
  height:400px;
  margin-top: 10px;
  background-image: url("/img/4.jpg");
  background-size: cover;


}
.person{

}