body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.login-box{
  background-image: url("/public/img/2.jpg");
  padding: 100px 0 0 -100px;
  float:left;
  margin-top: 60px;
}
.login-logo h1{
  font-size: 40px;
  color: #2c3b41;
  margin-left: 500px;
  position: relative;
}
.login-box-body{
  padding: 20px;
  width: 300px;
  height: 200px;
  margin-left: 500px;
}
#loginBtn{
  color: 	#515151;
  border-radius: 3px;
  border: none;
}