.menu{
  height: 45px;
  background-color: #B4C0F4;
}
.menu-1{
  float: left;
  font-size: 20px;
  margin: 10px 12px 0 40px;
  color: white;
}
.menu-2{
  font-size: 10px;
  color: white;
  margin-top: 10px;
}
.sidebar{
  background-color: #EEF8AE;
  height: 500px;
  margin: 0 25px 0 -40px;
  padding: 10px;
}
.row-2{
  background: #EEF8AE;
}
.searchBox{
  margin:0px 0 0 30px;
  border-radius: 3px;
  width: 150px;
}
.navigation{
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
}

.navigation a:hover{
  background-color: white;
  text-decoration: none;
}
.body{
  background-color: white;
}
.content {
  /*background-image: url(1.jpg);
  background-repeat:repeat;*/
  background-color:#F8E7E0;
  margin-left: -55px;
  height: 500px;
  margin-right: -13px;
}
.person{
  padding-top: 10px;
  margin-left: 50px;
}
.ctent{
  background-color: white;
  padding-top: 50px;
  width: 900px;
  height: 400px;
}