<section class="chat">
    <nav>
        <div class="header">
                <img class="avatar" src="">
                <h3 class="nickname">
                    Miamia
                </h3>
        </div>
        <div class="search_bar">
            <i class="wechat_search"></i>
            <input class="frm_search" type="text"  placeholder="搜索">
        </div>
            <div class="tab">
                    <a class="" title="聊天" href="#"><i class="web_wechat_chat"></i></a>
                    <a class="" title="阅读" href="#"><i class="web_wechat_public" ></i></a>
                    <a class=""  title="通讯录" href="#"><i class="web_wechat_friends" ></i></a>
        </div>
           <div class="chat_item active">
               <img class="avatar" src="">
               <div class="info">
                   <span class="nickname_text">nickname</span></h3>
                   <p class="msg">content</p>
               </div>
               <div class="ext">
                    <p class="attr">time</p>
                </div>

        </div>
            <div class="chat-items"></div>
            <div class="chat-items"></div>
    </nav>
    <div id="chatArea">
        <div class="title_wrap">
        <a class="">Java 的一些人生经验</a></div>
        <div class="kiki">
        <div class="message me">
            <div class="bubble   bubble_primary right" >
                <div class="bubble_cont ">
                    <div class="plain">from</div>
                </div>
            </div>
            <img class="avatar" src="" title="from">
        </div>
        <div class="message you">
            <img class="avatar" src="" title="to">
            <div class="bubble  bubble_default left">
                <div class="bubble_cont" >
                    <div class="plain">to</div>
                </div>
            </div>
        </div>
            </div>
        <div class="box_ft">
            <div class="toolbar">
                <a class="web_wechat_face"  title="表情"></a>
                <a  class="web_wechat_screencut" href="" title="截屏"></a>
                <a  class="web_wechat_pic"  href="" title="图片和文件"></a>
            </div>
            <div class="content">
                <pre id="editArea" class=" " contenteditable="true"></pre>
            </div>
            <div class="action">
               <span class="desc ng-scope">按下Ctrl+Enter换行</span>
                <a class="btn btn_send" href="" >发送</a>
            </div>
        </div>
    </div>
</section>