<section class="flex-chat">
    <div class="chat">
        <h1>wechat</h1>
        <div class="message"></div>
        <ul class="toolbar">
            <li class="Emoji">e</li>
            <li class="image">i</li>
        </ul>
        <div class="messageInput">
            <textarea id="message" placeholder="..."></textarea>
            <div><input id="sendMessage" type="button" value="Send" />
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
//    var socket=io.connect(),//与服务器进行连接
//            button=document.getElementById('sendBtn');
//    button.onclick=function(){
//        socket.emit('foo', 'hello');//发送一个名为foo的事件，并且传递一个字符串数据‘hello’
//    }
</script>
