<nav class="cover">
    <form id="loginform" action="" class="flex-form">
        <p class="login-box-msg "></p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="用户名" id="usr">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" id="pwd">
        </div>
        <div class="button">
            <button type="button" class="form-control" id="registerBtn"><a href="/register">注册</a></button>
            <button type="submit" class="form-control" id="loginBtn">登录</button>
        </div>
    </form>
</nav>
<script src="/chat/login.js"></script>


