<nav class="cover">
    <form id="registerform"  action="" class="flex-form">
        <p class="register-box-msg"></p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="用户名" id="new-usr" >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="手机号" id="new-tel" >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" id="new-pwd">
        </div>
        <div class="form-group">
            <div class="form-thumb">
                <img class="img-thumbnail" id="userThumb">
            </div>
        </div>

        <div class="form-group">
                <input type="file" id="uploadFile" multiple="multiple"  accept="image/*">
                <button class="form-control"> 选择文件</button>
                <button class="form-control" id="UploadBtn">上传</button>
        </div>
        <div class="button">
            <button type="button" class="form-control" id="registerBtn">注册</button>
        </div>
    </form>
</nav>
<script src="/chat/register.js"></script>
