<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body class="hold-transition skin-red layout-boxed sidebar-mini">
<div class="wrapper">
    <div class="container-fluid">
    {{>header}}
        <div class="row">
        {{>sidebar}}
            <div class="col-md-10">
                <div class="content">
                    <div class="person">
                        <span class="person-name">Mia</span>
                        <div class="release-time">7:30 PM Today</div>
                    </div>

                    <div class="ctent"></div>
                </div></div>
        </div>
 </div>
</div>


</body>
</html>