<div class="menu">
    <div class="subMenu">
        <a href="/studentAdmin" class="item">学生管理</a>
        <a href="/questionAdmin" class="item">题目管理</a>
        <div class="item" id="examination" data-toggle="modal" data-target="#setExam">设置考试</div>
        <div class="item" id="startExam">开始考试</div>
    </div>
    <div class='welcomeAdmin'>
        <p id="id">{{user._id}}</p>
        <div class="item"> 欢迎进入{{user.username}}</div>
        <div class='item'><a class="item" id ="exit" href="/">退出</a></div>
    </div>
</div>
