<div class="menu">
    <div class="item" id="student">添加学生</div>
    <div class="item" id="question">添加题目</div>
    <div class="item" id="examination">设置考试</div>
    <div class="item" id="startExam">开始考试</div>
    <div class='welcomeAdmin'>
        <p id="id">{{user._id}}</p>
        <div class="item"> 欢迎进入{{user.username}}</div>
        <div class='item'><a class="item" id ="exit" href="/">退出</a></div>
    </div>
</div>