<div class="menu">
    <div class="item" data-toggle="modal" data-target="#myMessage">我的信息</div>
    <div class="item" id="test">开始测试</div>
    <p id="id">{{user._id}}</p>
    <div class='welcome'>
        <div class='item'><a class="item" id ="submit" href="/">交卷</a></div>
        <div class="item"> 欢迎进入{{user.username}}</div>
        <div class='item'><a class="item" id ="exit" href="/">退出</a></div>
    </div>
</div>
